.full-width-input {
  width: 100%;
}

.mat-form-field {
  display: flex;
  align-items: center;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove-icon,
.add-icon {
  cursor: pointer;
}
